<%= f.input :categoria,
  label: 'Categoria (<a class="descarga-marco" href="Marco_Archivo_Digital_de_Prensa_CINEP.pdf"><i class="fa fa-download"></i> Marco Conceptual</a>)'.html_safe,
  required: false,
  maxlength: 1500
%>
