
<% if f.object.lote_id %> 
  <div class="col-sm-11">
    <%= f.input :pagina %> 
  </div>
  <div class="col-sm-1">
  </div>
<% else %>
  <div class="col-sm-12">
    <%= f.input :pagina %> 
    <!-- %= f.input :texto %--> 
  </div>
<% end %>
