<% if f.object.lote_id %> 
  <div class="col-sm-11">
<% else %>
  <div class="col-sm-12">
<% end %>

<div style="padding-bottom: 18px;" class="input select categoriaprensa_sinorden">
  <label class="select required control-label" for="categoriaprensa_sinorden">
    Categoria Prensa</label>
  <%= 
    p = options_from_collection_for_select(
      Sal7711Gen::Categoriaprensa.habilitados, "id", "presenta_nombre"
    )
    opsel = { 
      multiple: true,
      class: 'chosen-select'
    }
    if @iccategoriaprensa
      opsel[:disabled] = "true"
    end
    select_tag "categoriaprensa_sinorden", p, opsel
  %>
</div>

<%= f.association :categoriaprensa, 
  collection: Sal7711Gen::ArticuloCategoriaprensa.where(
    articulo_id: @articulo.id).order(:orden),
  value_method: :categoriaprensa_id,
  label_method: :categoriaprensa_id
  #input_html: { class: 'chosen-select' }
%>

</div>
<% if f.object.lote_id %> 
  <div class="col-sm-1">
    <input class="candadochequeo" 
           id="articulo_iccategoriaprensa" 
           name="articulo[iccategoriaprensa]" 
           type="checkbox" 
           <%= @iccategoriaprensa ? "checked" : "" %> 
           <%= "disabled='disabled'" if 
             f.object.categoriaprensa.length == 0 %>
     />
     <label class="labelcandado" for="articulo_iccategoriaprensa">
     </label>
  </div>
<% end %>


