<article>
<h1>Archivo Digital de Prensa</h1>
<p>
El Archivo digital de prensa es una base de datos que sistematiza la 
información sobre Colombia, de 10 fuentes de prensa de circulación nacional 
y regional en temas específicos del área de las Ciencias Sociales. 
Posee información desde el año 1992 a la fecha y un acumulado de más de 
500.000 registros recopilados a lo largo de 24 años.
</p><p>
La información del Archivo digital de prensa se clasifica a partir de un 
marco conceptual que consta de 173 descriptores temáticos agrupados en 
cinco grandes categorías:
<ol>
  <li>Iglesia y conflicto.</li>
  <li>Política y gobierno.</li>
  <li>Narcotráfico.</li>
  <li>Sociedad y cultura.</li>
  <li>Ecología y ambiente.</li>
</ol>
</p>
<h2>¿Para qué sirve?</h2>
<p>El Archivo digital de prensa es una herramienta única y novedosa en 
Colombia, que permite a los investigadores realizar consultas temáticas, 
de forma ágil y eficiente y lo más importante, con una fundamentación teórica 
y metodológica sustentada en la larga trayectoria investigativa del 
CINEP/Programa por la Paz.
</p>
<p>
Así mismo el archivo sirve para realizar análisis de tipo coyuntural y 
estructural pues el sistema ofrece la posibilidad de hacer búsquedas 
comparativas por fechas o periodos de tiempo, ubicación geográfica, fuentes 
y especialmente por temas. Además, dependiendo de los intereses del 
investigador, la base de datos permite buscar artículos específicos en tan 
sólo un par de segundos.
</p>
<h2>¿A quién está dirigido?</h2>
<p>El Archivo digital de prensa ha sido un referente fundamental para 
investigaciones sobre conflicto, sociedad, política, paz y desarrollo en el 
país. En este sentido se constituye en clave analítica para instituciones 
públicas, organizaciones sociales y académicas, comunidad internacional 
y entes privados.
</p>
<h2>¿Cuáles son sus ventajas? </h2>
<p>
Se diferencia radicalmente de los buscadores de internet, de los archivos 
digitales de los periódicos y de otros sistemas de consultas de archivos de 
prensa, dado que estos no proporcionan filtros temáticos conceptuales 
haciendo prácticamente imposible un seguimiento comparativo y riguroso de la 
información. Además:
<ul>
  <li>Permite acceder a 500.000 artículos de prensa de los últimos 24 años, 
  durante las 24 horas del día y desde cualquier computador con conexión a 
  Internet en tan sólo un par de minutos.</li>
  <li>Permite consultar artículos específicos de 10 publicaciones colombianas 
  sin necesidad de estar suscrito a los periódicos, ni tener que revisarlos en 
  su totalidad.</li>
</ul>
<h2>¿Cómo puedo acceder al Archivo digital de prensa?</h2>
<p>
Para información general del sistema, costos y subscripciones comuníquese al el teléfono 2456181 ext. 751 o escriba al correo electrónico 
<a href="mailto:sig@cinep.org.co">sig@cinep.org.co</a> 
</p>
<h2>¿Sobre que plataforma tecnológica opera?</h2>
<p>
Un <a target="_blank" href="http://github.com/pasosdeJesus/sal7711_onbase">sistema 
  de información de fuentes abiertas</a> desarrollado por 
<a target="_blank" href="http://www.pasosdeJesus.org">Pasos de Jesús</a> 
con apoyo financiero del 
<a href="http://www.cinep.org.co" target="_blank">CINEP/PPP</a> 
y <a href="http://www.sjrlac.org" target="_blank">SJR LAC</a>.
</p>
</article>
