<article>
  <div class='archivo'>
    <p><img src="images/logo.png" class="img-responsive"></img></p>
    <h1>Archivo Digital de Prensa</h1>
  </div>

  <div class="local">
    <%= render "local" %>
  </div>
</article>
