# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

#//= require chosen-jquery

@sal7711_cinep_prepara_eventos_comunes = (root) ->


  $(document).on('click', '#ver-texto', (e) ->
    root = window
    t = Date.now()
    d = -1
    if (root.sal7711_cinep_ver_texto_t)
      d = (t - root.sal7711_cinep_ver_texto_t)/1000
    root.sal7711_cinep_ver_texto_t = t
    if (d == -1 || d > 1)
      e.preventDefault();
      e.stopPropagation();
      m = $('#ver-texto').html()
      if $('#modal-imgtmp').html() == ''
        textob = $('#raiztextob').text().split(/\s+/)
        ntexto = $('#modal-texto').html()
        textob.forEach( (t) -> 
          ntexto = ntexto.replace(new RegExp(t, 'gi'), 
            "<span style='background-color: yellow'>" + t+ "</span>")
        )
        $('#modal-imgtmp').html($('.modal-body').html())
        $('.modal-body').html(ntexto)
        $('#ver-texto').html(m.replace('texto', 'imagen'))
      else
        $('.modal-body').html($('#modal-imgtmp').html())
        $('#modal-imgtmp').html('')
        $('#ver-texto').html(m.replace('imagen', 'texto'))
    
      $('#modal-imagen').modal('handleUpdate')
    return
  )
  return

