<div class="panel panel-default">
  <div class="panel-heading">
    Total registros:  <%= @totconsultas %>.
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr><th>Id</th><th>Fecha</th><th>Usuario</th><th>IP</th><th>Operacion</th>
      </thead>
      <tbody>
        <% @usuarioscons.try(:each) do |u| %>
          <tr>
            <% (0..4).each do |i| %>
              <td><%= u[i] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
